.main{
    height: 800px;
    width: 100%;
}
.front{
    height: 420px;
    width:100%;
    background-color: darkgoldenrod;
}
.box{
    height: 550px ;
    width: 350px;
    display: inline-block;
    background-color: aliceblue;
    margin-top: 150px;
    margin-left: 30px;
    border-radius: 50px;
    /* border-style: solid ;
    border-width: 2px; */
}
.box1{
    height: 250px;
    width: 268px;
    margin-left: 31px;
    border-radius: 135px;
    margin-top: 20px;
    /* border-style: solid;
    border-width: 4px;
  border-color: rgb(6, 13, 141); */
}
.box1 img{
    height: 250px;
    width: 268px;
    margin-left: 0px;
    border-radius: 135px;
    margin-top: 2px;
   
}
.box h2{
    margin-left: 70px;
    margin-top: 20px;
}
.box p{
    margin-left: 30px;
   
}
.box h4{
    margin-left: 110px;
}